body {
  display: flex;
  -webkit-box-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 75vh;
  width: 80vw;
  background-color: #9280f8;
  border: 2px solid blue;
}

.container .section-one {
  display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.container .section-one .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .section-one .main-form button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #3e06a7;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container .section-one .main-form button:hover {
  background: #e5e9e5;
  color: blue;
}

.container .section-one .main-form a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .section-one .main-form a:hover {
  color: white;
}

.container .section-two {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section-two button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #ffd60a;
  color: #242222;
  cursor: pointer;
}

.container .section-two button:hover {
  background: #a38800 radial-gradient(circle, transparent 1%, #a38800 1%) center/15000%;
}

.container .section-two button:active {
  background-color: #705d00;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

input {
  padding: 0.8rem 1rem;
  width: 22rem;
  border-radius: 0.2rem;
  color: rgb(0, 0, 0);
  background-color: #ffffffa4;
  margin-bottom: 0.8rem;
  font-size: large;
}


@media only screen and (max-width: 768px) {
  .container {
    height: 35rem;
  }
  .container .section-one .main-form input {
    width: 15rem;
  }
  .container .section-one .main-form button {
    width: 15rem;
  }
  .container .section-two button {
    width: 15rem;
  }
}